.container {
  height: 360px;
  background: #D6D6D6;
}

.row {
  display: flex;
  height: 50%;
}

.imageBig {
  width: 70%;
}

.imageSmall{
  width: 30%;
}

.rowText {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}

.rowTitle {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C02C3F;
  color: #D6D6D6;
  margin: 0;
}
