

.active {
  background-color: #C02C3F;
}


#navContainer {
  display: flex;
  justify-content: space-around;

}

a {
  display: block;
  color: #D6D6D6;
  text-align: center;
  padding: 0px 8px;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: #666666;
}

